</main>
<div class="div2 divs">
    <div id="p1" class="hidden-l">
      <h1>Choose the perfect design</h1>
      <p>
        Create a beautiful blog that fits your style. Choose from a selection <br>of easy-to-use templates - all with
        flexible layouts and hundreds of <br>background images - or design something new.
      </p>
    </div>
    <svg class="N hidden-r1" width="250" height="250" viewBox="0 0 250 250" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <rect width="250" height="250" rx="20" fill="#1B1212" fill-opacity="0.55" />
      <path
        d="M95.3217 87.08L93.6217 173.44L107.902 174.8C107.902 177.973 106.938 181.373 105.012 185H65.9117L65.4017 179.05C71.5217 177.01 76.7351 175.65 81.0417 174.97C80.8151 167.603 80.4184 152.417 79.8517 129.41C79.3984 106.403 79.0017 88.61 78.6617 76.03C74.3551 75.35 69.2551 73.99 63.3617 71.95L63.8717 66H97.5317L159.582 165.11L156.692 76.03C152.498 75.2367 147.455 73.8767 141.562 71.95L142.072 66H184.572C186.498 69.6267 187.462 73.0267 187.462 76.2C181.795 76.6533 177.262 76.88 173.862 76.88L172.162 185H155.672L95.3217 87.08Z"
        fill="white" />
    </svg>
  </div>
  <div class="div3 divs">
    <img src="" alt="">
    <div></div>
    <div id="p2" class="hidden-r">
      <h1>Know your audience</h1>
      <p>Find out which posts are a hit with Blogger's built-in analytics. You'll <br>see where your audience is coming
        from and what they're interested <br>in. You can even connect your blog directly to Google Analytics for a
        <br>more detailed look.</p>
    </div>
  </div>
  <div class="div4 divs">

  </div>
<footer>

</footer>
</body>

</html>