<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles\create.css">
</head>
<body>
<div class="form1">
    <form action="/submit" method="POST">
        <input class="blog-title" name="blog-title" type="text" placeholder="Title">
        <textarea class="blog-content" name="blog-content" cols="30" rows="10" placeholder="Write your blog here..."></textarea>
        <input type="submit" class="blog-post">
    </form>
</div>
</body>
</html>
